{% extends 'base.html' %}

{% block js %}
<script>
    let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element)=>{
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}

{% block blogactive %} active {% endblock blogactive %}

{% block body %}

<div class="container">
    <h2>Articles by LaughTale : </h2>
    <hr>
    {% for item in posts  %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"><b>By: {{item.author}}</b></strong>
            <h3 class="mb-0">{{item.title}}</h3>
            <div class="mb-1 text-muted">{{item.timeStamp}}</div>
                <p class="card-text mb-auto"><div class="preview">{{item.content|safe | slice:"0:300"}}.....</div></p>
                <div class="mt-3">
                    <a href="/blog/{{item.slug}}" role="button" class="btn btn-warning">Continue reading</a>
                </div>
            </div>
        <div class="col-auto d-none d-lg-block">

        </div>     
    </div>
    {% endfor %}
</div>

{% endblock body %}